ALL LISTINGS

<ul>
  <% @listings.each do |listing| %>
  <h2><%= link_to listing.title, listing_path(listing)%></h2>
  <% end %>
</ul>
<%= link_to "Create a new list", new_listing_path, class: "btn btn-success" %>
