<div class="footer footer-expand-sm footer-light footer-lewagon">
  <div class="footer-inner-container d-flex justify-content-center text-center align-items-center">

    <div class="lh-1 m-3">
      <%# NEED TO CHANGE THIS %>
      <p>
      Contact Us
      </p>
      <p>
      sportswap@gmail.com
      </p>
  </div>
</div>
