
<div class="banner">
  <div class="banner-content text-center">
     <h1>Sport Rental</h1>
    <p>Share and save together</p>
    <%= link_to "Create a sport rental list", listings_path, class: "btn btn-success" %>
      </div>
    
    <div>
    
    </div>
  </div>
</div>
