<%= render 'shared/navbar' %>

<div class="body_container">

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%= link_to "Create a sport rental list", listings_path, class: "btn btn-success" %>
</div>
<%= render 'shared/footer' %>
