<div class="home-background">
  <div class="logo-home">
    <%= link_to "████████████", listings_path, class: "text-decoration-none position-absolute top-50 start-50 translate-middle text-invisible" %>
  </div>
</div>
