// Import your components CSS files here.
@import "alert";
@import "avatar";
 @import "form_legend_clear";
@import "navbar";
@import "login_form";
@import "banner";
@import "footer";



.container {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center
}