.card-photo {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing_title {
  color: #009F6B;
  text-decoration: none;
}

.green-border {
  border: 1px #B8E0D3 solid;
}
