.navbar-lewagon {
  position: sticky;
  top: 0px;
  justify-content: space-between;
  background: #252525;
  height: 160px;
  border-bottom: #009F6B 8px solid;
}

.navbar-inner-container {
  margin: auto;
  width: 75%;
  height: 88px;
  background: white;
  border-radius: 8px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 48px;
  width: 120px;
}
